# Lab

In [1]:
import numpy as np
import pandas as pd

In [14]:
smkt = pd.read_csv('data/Smarket.csv', usecols=range(1,10))
smkt.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today Direction
0  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959        Up
1  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032        Up
2  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623      Down
3  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614        Up
4  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213        Up

In [16]:
smkt.corr()

,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today
Year,1.000000,0.029700,0.030596,0.033195,0.035689,0.029788,0.539006,0.030095
Lag1,0.029700,1.000000,-0.026294,-0.010803,-0.002986,-0.005675,0.040910,-0.026155
Lag2,0.030596,-0.026294,1.000000,-0.025897,-0.010854,-0.003558,-0.043383,-0.010250
Lag3,0.033195,-0.010803,-0.025897,1.000000,-0.024051,-0.018808,-0.041824,-0.002448
Lag4,0.035689,-0.002986,-0.010854,-0.024051,1.000000,-0.027084,-0.048414,-0.006900
Lag5,0.029788,-0.005675,-0.003558,-0.018808,-0.027084,1.000000,-0.022002,-0.034860
Volume,0.539006,0.040910,-0.043383,-0.041824,-0.048414,-0.022002,1.000000,0.014592
Today,0.030095,-0.026155,-0.010250,-0.002448,-0.006900,-0.034860,0.014592,1.000000

In [17]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [18]:
formula = 'Direction ~ Lag1 + Lag2 + Lag3 + Lag4 + Lag5 + Volume'
model = smf.glm(formula=formula, data=smkt, family=sm.families.Binomial()).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Generalized Linear Model Regression Results
================================================================================================
Dep. Variable:     ['Direction[Down]', 'Direction[Up]']   No. Observations:                 1250
Model:                                              GLM   Df Residuals:                     1243
Model Family:                                  Binomial   Df Model:                            6
Link Function:                                    logit   Scale:                          1.0000
Method:                                            IRLS   Log-Likelihood:                -863.79
Date:                                  Sat, 07 Nov 2020   Deviance:                       1727.6
Time:                                          02:12:55   Pearson chi2:                 1.25e+03
No. Iterations:                                       4
Covariance Type:                              nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.1260      0.241      0.523      0.601      -0.346       0.598
Lag1           0.0731      0.050      1.457      0.145      -0.025       0.171
Lag2           0.0423      0.050      0.845      0.398      -0.056       0.140
Lag3          -0.0111      0.050     -0.222      0.824      -0.109       0.087
Lag4          -0.0094      0.050     -0.187      0.851      -0.107       0.089
Lag5          -0.0103      0.050     -0.208      0.835      -0.107       0.087
Volume        -0.1354      0.158     -0.855      0.392      -0.446       0.175
==============================================================================
"""

In [22]:
modpred = model.predict()

In [23]:
smkt['Prediction'] = 'Up'

In [26]:
smkt.loc[modpred > 0.5, 'Prediction'] = 'Down'

In [27]:
smkt.head(20)

,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction,Prediction
0,2001,0.381,-0.192,-2.624,-1.055,5.010,1.1913,0.959,Up,Up
1,2001,0.959,0.381,-0.192,-2.624,-1.055,1.2965,1.032,Up,Down
2,2001,1.032,0.959,0.381,-0.192,-2.624,1.4112,-0.623,Down,Down
3,2001,-0.623,1.032,0.959,0.381,-0.192,1.2760,0.614,Up,Up
4,2001,0.614,-0.623,1.032,0.959,0.381,1.2057,0.213,Up,Up
5,2001,0.213,0.614,-0.623,1.032,0.959,1.3491,1.392,Up,Up
6,2001,1.392,0.213,0.614,-0.623,1.032,1.4450,-0.403,Down,Down
7,2001,-0.403,1.392,0.213,0.614,-0.623,1.4078,0.027,Up,Up
8,2001,0.027,-0.403,1.392,0.213,0.614,1.1640,1.303,Up,Up
9,2001,1.303,0.027,-0.403,1.392,0.213,1.2326,0.287,Up,Down
10,2001,0.287,1.303,0.027,-0.403,1.392,1.3090,-0.498,Down,Down
11,2001,-0.498,0.287,1.303,0.027,-0.403,1.2580,-0.189,Down,Up
12,2001,-0.189,-0.498,0.287,1.303,0.027,1.0980,0.680,Up,Up
13,2001,0.680,-0.189,-0.498,0.287,1.303,1.0531,0.701,Up,Down
14,2001,0.701,0.680,-0.189,-0.498,0.287,1.1498,-0.562,Down,Down
15,2001,-0.562,0.701,0.680,-0.189,-0.498,1.2953,0.546,Up,Up
16,2001,0.546,-0.562,0.701,0.680,-0.189,1.1188,-1.747,Down,Up
17,2001,-1.747,0.546,-0.562,0.701,0.680,1.0484,0.359,Up,Up
18,2001,0.359,-1.747,0.546,-0.562,0.701,1.0130,-0.151,Down,Up
19,2001,-0.151,0.359,-1.747,0.546,-0.562,1.0596,-0.841,Down,Down

In [28]:
pd.crosstab(smkt.Direction, smkt.Prediction)

Prediction  Down   Up
Direction
Down         145  457
Up           141  507

In [31]:
model2 = smf.glm(formula=formula, data=smkt.loc[smkt.Year<2005], family=sm.families.Binomial()).fit()
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Generalized Linear Model Regression Results
================================================================================================
Dep. Variable:     ['Direction[Down]', 'Direction[Up]']   No. Observations:                  998
Model:                                              GLM   Df Residuals:                      991
Model Family:                                  Binomial   Df Model:                            6
Link Function:                                    logit   Scale:                          1.0000
Method:                                            IRLS   Log-Likelihood:                -690.55
Date:                                  Sat, 07 Nov 2020   Deviance:                       1381.1
Time:                                          03:06:38   Pearson chi2:                     998.
No. Iterations:                                       4
Covariance Type:                              nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.1912      0.334     -0.573      0.567      -0.845       0.463
Lag1           0.0542      0.052      1.046      0.295      -0.047       0.156
Lag2           0.0458      0.052      0.884      0.377      -0.056       0.147
Lag3          -0.0072      0.052     -0.139      0.889      -0.108       0.094
Lag4          -0.0064      0.052     -0.125      0.901      -0.108       0.095
Lag5           0.0042      0.051      0.083      0.934      -0.096       0.104
Volume         0.1163      0.240      0.485      0.628      -0.353       0.586
==============================================================================
"""

In [57]:
mod2pred = model2.predict(smkt.loc[smkt.Year==2005])
mod2pred.tail()

1245    0.516363
1246    0.493952
1247    0.483342
1248    0.483876
1249    0.491928
dtype: float64

In [56]:
smkt['Prediction2'] = 'Up'
smkt.loc[(smkt.Year == 2005) & (mod2pred > 0.5), 'Prediction2'] = 'Down'
smkt.tail()

,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction,Prediction,Prediction2
1245,2005,0.422,0.252,-0.024,-0.584,-0.285,1.88850,0.043,Up,Up,Down
1246,2005,0.043,0.422,0.252,-0.024,-0.584,1.28581,-0.955,Down,Up,Up
1247,2005,-0.955,0.043,0.422,0.252,-0.024,1.54047,0.130,Up,Up,Up
1248,2005,0.130,-0.955,0.043,0.422,0.252,1.42236,-0.298,Down,Up,Up
1249,2005,-0.298,0.130,-0.955,0.043,0.422,1.38254,-0.489,Down,Up,Up

In [58]:
pd.crosstab(smkt.loc[smkt.Year==2005].Direction, smkt.loc[smkt.Year==2005].Prediction2)

Prediction2  Down  Up
Direction
Down           77  34
Up             97  44